body {
    background-color: lightgreen;
    text-align: center;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: darkgreen;
}

h2 {
    text-align: left;
}

.description {
    text-align: left;
}

p {
    color: darkblue;
    text-align: center;
}

ul {
    text-align: left;
}

.recipe {
    text-align: left;
}